@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  color: black;
}

h1, h3 {
  font-family: "Segoe UI", sans-serif;

}

h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;

}
.comparison {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

li a:hover{
  color: rgb(189, 189, 189)
}

.comparison article {
  width: 50%;
}

@viewport {
	width: device-width
}


img {
  width: 100%;
}


.landing_hero {
  margin-bottom: 10vh;
}

.content {
  margin-left: 15vh;
  font-family: "Roboto", sans-serif;
}

nav ul li {
  text-decoration: none;
  display: inline;
  padding: 1em;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 20vh;
}

nav a {
  color: rgb(204, 204, 204);
}


.landing_hero {
  width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: "lhero_left lhero_right";

  font-family: "Roboto", sans-serif;

}

.landing_text {
  grid-area: lhero_left;
  width: 60%;
  margin-top: 20vh;
}

#img, #js_img, #wasm_img {
  display: none;
}

.landing_text h1 {
  font-size: 3em;
}

.landing_image {
  margin-top: 10vh;
  grid-area: lhero_right;
}

img, canvas {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: "topleft topright";
  color: rgb(192, 192, 192);
  margin-left: 0;
  padding-left: 0;
}

.logo {
  grid-area: topleft;
  align-items: flex-start;
  font-size: 1.2em;
  padding: 0.7em;
  color: black;
}


.contright {
  grid-area: topright;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  padding: 1em;
  border: solid transparent 0.1em;
  border-radius: 0.3em;
  cursor: pointer;
}

.pulse {
  z-index: 1;
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  background-color: rgb(94, 51, 163);
}

button:hover {
  cursor: pointer;
}

.pulse::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid rgb(94, 51, 163);
  transform-origin: center;
  transform: scale(1);
}

.pulse:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

.slide {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: solid rgb(94, 51, 163) 0.1em;
  background-color: transparent;
}

.slide:hover {
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: none;
}

.background {
  background-image: url(https://source.unsplash.com/1600x900/?day+sunset);
}

.foreground {
  background-image: url(https://source.unsplash.com/1600x900/?night+sky);
  mask-image: linear-gradient(var(--direction), rgba(0,0,0,1) 40%, rgba(0,0,0,0) 60%);
  mask-position: 50% 50%;
}


.slide::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(94, 51, 163);
  transform-origin: center top;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.slide:hover {
  cursor: pointer;
}

.slide:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.buttons button {
  margin-right: 1em;
}

.btn_fill {
    background-color: rgb(94, 51, 163);
    color: white;

    a {
      color: white;
    }
}

.btn_outline {
  color: rgb(94, 51, 163);
  background-color: transparent;
  border: 2px solid rgb(94, 51, 163);
}

.btn-outline:hover {
  background-color: rgb(94, 51, 163);
}

.features_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1em;
}

.features h2, .features p {
  text-align: center;
}

.features_list li h3 {
  color: black;
}

.features_list h5 {
  color: rgb(94, 51, 163);
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 3px;
}

.features_list li {
  display: flex;
  flex-direction: column;
  flex: 1 0 33%;
}

.features_list li p {
  width: 70%;
}

.guide_pane {
  width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
  grid-template-areas: "guide_lhs guide_rhs";
  min-height: 80vh;
}

#run_gdl {
  min-height: 60vh;
}

.code_pane {
  width: 100%;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto;
  grid-template-areas: "code_lhs code_rhs";
  min-height: 60vh;
}

.code_pane article {
  grid-area: "code_rhs";
}

.code_pane section {
  grid-area: "code_lhs";
}

.guide_pane, .feature_pane {
  margin-bottom: 10vh;
}

.guide_pane .container {
  grid-area: "guide_rhs";
}

.guide_pane section {
  grid-area: "guide_lhs";
}

.code_pane section, .guide_pane section {
  width: 70%;
}

.feature_pane {
  width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
  grid-template-areas: "feature_pane_lhs feature_pane_rhs";
  min-height: 80vh;
}

.feature_lhs {
  grid-area: "feature_pane_lhs";
}

.feature_rhs {
  grid-area: "feature_pane_rhs";
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.guide {
  margin-top: 12vh;
}

.center {
  text-align: center;
  margin-bottom: 5vh;
}

.cta {
  width: 40%;
  margin: auto;
}

.cta button {
  margin-left: 2vh;
}

footer {
  width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: "footer_text footer_links";

  margin-top: 10vh;
}

li {
  font-family: "Open Sans", sans-serif;
}

button:hover {
  color: rgb(44, 44, 44);
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer ul li {
  list-style: none;
  padding-right: 5vh;
}

.footer_lhs {
  grid-area: "footer_text";
}

.footer_rhs {
  grid-area: "footer_links";
}

.features_list li p {
  text-align: left;
}

.features_list {
  margin-top: 5vh;
}


.tiles {
  display: flex;
  flex-direction: row;
}

.tiles .tile {
  display: flex;
  flex-direction: column;
  flex: 1 0 33%; /* explanation below */
}

.tiles img {
  width: 50%;
}

.tiler {
  display: inline-block;
  cursor: pointer;
  visibility: hidden;
  width: 33.3%;
  margin: auto;
}

.tiler img { 
  display: block;  
  margin: auto; 
  max-width: 100%;
  visibility: visible;
}

.tiler .cell-grid {
  background-position: center center;
  margin: auto;
  position: fixed;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  z-index: 10;


  perspective: 30px;

}